openapi: 3.0.3
info:
  title: Spaceflight News Articles API
  description: The Spaceflight News API (SNAPI) is a free, open REST API aggregating space-related news, blogs, and reports from over 43 sources including NASA, SpaceX, Reuters, NASASpaceflight, and Spaceflight Now. It provides paginated access to articles, blogs, and reports, with integration to Launch Library 2 for linking content to specific launches and events. No authentication is required.
  version: 4.30.2
  contact:
    name: The Space Devs
    url: https://discord.gg/thespacedevs
  license:
    name: BSD 2-Clause
    url: https://opensource.org/licenses/BSD-2-Clause
servers:
- url: https://api.spaceflightnewsapi.net/v4
  description: Spaceflight News API v4 production server
tags:
- name: Articles
  description: Space news article operations
paths:
  /articles/:
    get:
      operationId: listArticles
      summary: List Articles
      description: Returns a paginated list of spaceflight news articles aggregated from over 43 sources. Results are ordered by publication date descending. Supports filtering by news site and searching by title or summary keywords.
      tags:
      - Articles
      parameters:
      - name: limit
        in: query
        description: Number of results to return per page (default 10, max 100)
        required: false
        schema:
          type: integer
          default: 10
          maximum: 100
      - name: offset
        in: query
        description: The initial index from which to return the results
        required: false
        schema:
          type: integer
          default: 0
      - name: search
        in: query
        description: Filter articles whose title or summary contain the search term
        required: false
        schema:
          type: string
      - name: news_site
        in: query
        description: Filter articles by news site name (e.g., NASA, SpaceX)
        required: false
        schema:
          type: string
      - name: launch
        in: query
        description: Filter articles linked to a specific Launch Library 2 launch UUID
        required: false
        schema:
          type: string
          format: uuid
      - name: event
        in: query
        description: Filter articles linked to a specific Launch Library 2 event ID
        required: false
        schema:
          type: integer
      - name: ordering
        in: query
        description: Sort field. Prefix with - for descending order (e.g., -published_at)
        required: false
        schema:
          type: string
          enum:
          - published_at
          - -published_at
          - updated_at
          - -updated_at
      responses:
        '200':
          description: Successful response with paginated article list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedArticleList'
  /articles/{id}/:
    get:
      operationId: getArticle
      summary: Get Article
      description: Returns a single spaceflight news article by its unique ID
      tags:
      - Articles
      parameters:
      - name: id
        in: path
        description: Unique identifier of the article
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful response with article details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        '404':
          description: Article not found
components:
  schemas:
    Article:
      type: object
      description: A spaceflight news article aggregated from a third-party news source
      properties:
        id:
          type: integer
          description: Unique identifier for the article
          example: 25801
        title:
          type: string
          description: Headline of the news article
          example: NASA adjusts ISS flight schedule for upcoming missions
        authors:
          type: array
          description: List of authors who contributed to this article
          items:
            $ref: '#/components/schemas/Author'
        url:
          type: string
          format: uri
          description: Link to the full article on the original publication site
          example: https://www.nasa.gov/article/nasa-adjusts-iss-schedule
        image_url:
          type: string
          format: uri
          description: URL of the featured image for this article
          example: https://www.nasa.gov/images/article-image.jpg
        news_site:
          type: string
          description: Name of the publishing news organization
          example: NASA
        summary:
          type: string
          description: Brief summary or excerpt of the article content
          example: After reviewing the ISS flight schedule, NASA and its partners are adjusting launch opportunities.
        published_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when the article was originally published
          example: '2026-04-15T14:30:00Z'
        updated_at:
          type: string
          format: date-time
          description: ISO 8601 timestamp of the last update to this record
          example: '2026-04-15T16:00:00Z'
        featured:
          type: boolean
          description: Whether this article is featured/highlighted
          example: false
        launches:
          type: array
          description: Launch Library 2 launches related to this article
          items:
            $ref: '#/components/schemas/LaunchRef'
        events:
          type: array
          description: Launch Library 2 events related to this article
          items:
            $ref: '#/components/schemas/EventRef'
    LaunchRef:
      type: object
      description: Reference to a Launch Library 2 launch linked to a news item
      properties:
        launch_id:
          type: string
          format: uuid
          description: Unique Launch Library 2 launch UUID
        provider:
          type: string
          description: Launch service provider name
    PaginatedArticleList:
      type: object
      description: Paginated list of spaceflight news articles
      properties:
        count:
          type: integer
          description: Total number of articles available
          example: 85000
        next:
          type: string
          format: uri
          nullable: true
          description: URL for the next page of results
        previous:
          type: string
          format: uri
          nullable: true
          description: URL for the previous page of results
        results:
          type: array
          items:
            $ref: '#/components/schemas/Article'
    EventRef:
      type: object
      description: Reference to a Launch Library 2 event linked to a news item
      properties:
        event_id:
          type: integer
          description: Unique Launch Library 2 event ID
        provider:
          type: string
          description: Event provider name
    Author:
      type: object
      description: An author who contributed to an article, blog, or report
      properties:
        name:
          type: string
          description: Full name of the author
          example: Sarah Johnson
        socials:
          type: object
          description: Social media links for the author
          additionalProperties:
            type: string
externalDocs:
  description: Official Spaceflight News API Documentation
  url: https://api.spaceflightnewsapi.net/v4/docs/
